@font-face {
  font-family: "norse";
  src: url(fonts/Norsebold.otf);
}
@font-face {
  font-family: "roboto";
  src: url(fonts/Roboto-Regular.ttf);
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  font-size: 16px;
}
.container {
  display: flex;
}
.image-sidebar {
  width: 40vw;
  position: relative;
}
.sidebar-background {
  object-fit: cover;
}
.sidebar-header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
  position: absolute;
  top: 20%;
}
.sidebar-icon {
  width: 4.5rem;
}
.sidebar-title {
  font-family: "norse";
  font-size: 5rem;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  width: 60vw;
  font-family: "roboto";
  background-color: hsl(0, 0%, 95%);
}
.info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.9rem;
  padding-left: 2rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.text {
  width: 80%;
}
.form-inputs {
  display: flex;
  flex-wrap: wrap;
}
.form-header {
  padding: 0 2rem;
}
.form-container {
  padding: 2rem 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: white;
}
.input {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
}
.input label {
  color: rgb(96, 92, 92);
}
input {
  width: 280px;
  border: none;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}
.bottom {
  padding: 2rem;
}
button {
    border: none;
    background-color: #596D48;
    padding: 0.5rem 2.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
a{
    color: #596D48;
    text-decoration: none;
}
input:user-invalid {
    border: 1px solid red;
}
input:focus {
    border: 1px solid blue;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}
